@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.fixed-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.fixed-overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: "";
}
.modal-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.modal-content {
  max-width: 35vw;
  max-height: 35vh;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #eceeef;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #eceeef;
  padding: 15px;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 10px;
}
.modal-main {
  position: relative;
  flex: 1 1 auto;
  padding: 0 10px 0 15px;
  overflow: auto;
}
.close {
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
  padding: 10px;
}
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
.close-btn {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: grey;
  margin-right: 0.5rem;
}
.close-btn > a,
.save-btn > a {
  color: white;
}
.save-btn {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: rgb(61, 129, 245);
  margin-right: 0.5rem;
}

@media (min-width: 576px) {
  .modal-wrapper {
    max-width: 500px;
    margin: 30px auto;
  }
}
