@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --bg-color: #726476;
  --btn-color: #d9ba5f;
  --btn-color-hover: #ffdf83;
  --font-color1: #ffffff;
  --font-color2: #000000;
  --font-color3: #989898;
}
body {
  height: 100%;
}
.wrapper {
  max-width: 94.5rem;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 100%;
}
.left-block__wrapper {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 40%;
  flex: 1 1 auto;
  padding: 0 2rem;
}
.left-block__head__mobile {
  display: none;
}
.left-block__head,
.left-block__footer {
  text-align: center;
}
.left-block__head {
  padding-top: 2.1875rem;
}
h1 {
  margin: 0.75rem 0 0;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--font-color1);
}
.left-block__head__btn {
  border: none;
  background: var(--btn-color);
  border-radius: 0.625rem;
  padding: 0.9375rem 4.4375rem;
}
.left-block__head__btn:hover {
  background: var(--btn-color-hover);
}
a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color2);
}
.left-block__filters {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
h3 {
  font-size: 1rem;
  line-height: 1.1487rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}
.left-block__filters > input {
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  background: #eeeeee;
  border-radius: 10px;
  color: var(--font-color3);
}
::-webkit-input-placeholder {
  color: var(--font-color3);
}
.left-block__filters__date:focus,
.left-block__filters__text:focus {
  background: var(--font-color1);
}
.left-block__filters__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-block__filters__btn-clear,
.left-block__filters__btn-apply {
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
  background: #eeeeee;
  border-radius: 10px;
  color: var(--font-color1);
  background-color: #d89a91;
}
.left-block__filters__btn-apply {
  padding: 0.25rem 0.5rem;
  margin-left: 1rem;
  background-color: #6e9485;
}
.left-block__filters__btn-clear:hover {
  background-color: #ffbbb1;
}
.left-block__filters__btn-apply:hover {
  background-color: #9bc2b3;
}
.left-block__footer__btn {
  border: none;
  background: var(--bg-color);
  border-radius: 0.625rem;
  padding: 0.9375rem 4.65rem;
  border: 0.0625rem solid #e9ecf2;
  box-sizing: border-box;
  border-radius: 0.625rem;
  margin-top: 1rem;
  margin-bottom: 3.25rem;
}
.left-block__footer__btn:hover {
  background: #9b909e;
}
.left-block__footer__btn > a {
  color: var(--font-color1);
}
.left-block__footer > h5 {
  font-size: 0.75rem;
  line-height: 1.3125rem;
  color: var(--font-color1);
  margin-bottom: 2.2rem;
}
header {
  height: 10vh;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0 0.4375rem 0.625rem -0.5625rem rgba(221, 221, 221, 1);
}
.right-block {
  flex: 60%;
}
.right-block__chat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 74vh;
  margin: 0 8rem;
  margin-top: 1.8125rem;
  padding-bottom: 1rem;
}
.right-block__twit,
.right-block__comment,
.right-block__add-twit {
  padding: 1rem 1.5625rem 1.375rem 1.5625rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 0.0625rem solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 0.625rem;
  margin-bottom: 1.8125rem;
}
.right-block__chat__filters {
  display: none;
}
.right-block__add-twit:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.right-block__twit__title {
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: var(--font-color2);
}
h4,
h6 {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: var(--font-color3);
  margin-left: 0.75rem;
}
p {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: var(--font-color2);
}
span {
  color: #1339ff;
  cursor: pointer;
}
.right-block__add-twit-block {
  margin: 0 2rem;
}
.right-block__add-twit-none {
  display: none;
}
.right-block__twit__title__comment {
  margin-right: 0.5rem;
  cursor: pointer;
}
.right-block__twit__icons {
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: 20px 20px;
  grid-gap: 1rem;
}
.right-block__twit_edit,
.right-block__twit_delete {
  cursor: pointer;
  padding: 0.5rem;
}
.right-block__twit_delete {
  padding: 0.25rem;
}
.right-block__scroll-twit {
  height: 38vh;
  overflow-y: scroll;
}
.right-block__comment {
  margin-bottom: 1.8125rem;
}
.right-block__comment__title {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.right-block__add-twit {
  justify-content: space-around;
  padding: 1rem 1.75rem 1.375rem 1.75rem;
}
.right-block__add-twit__btn {
  border: none;
  cursor: pointer;
  background: url(/assets/img/send.svg) no-repeat center;
  width: 2rem;
  height: 2rem;
  align-self: flex-end;
}
.right-block__add-twit__btn:hover {
  background-color: #9bc2b3;
  border-radius: 10%;
}
.right-block__twit_edit:hover,
.right-block__twit_delete:hover {
  background-color: #9bc2b3;
  border-radius: 10%;
}
textarea {
  border: 0.0625rem solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 0.625rem;
  resize: none;
  padding: 0.75rem 0 0.75rem 1rem;
}
.right-block__chat__btn {
  border: 1px solid #e9ecf2;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 0.875rem;
  color: #4a4a4a;
  background-color: var(--font-color1);
  margin: 0 auto;
  margin-top: 1rem;
}
footer {
  box-shadow: 0 -0.4375rem 0.625rem -0.5625rem rgba(221, 221, 221, 1);
  font-size: 0.75rem;
  display: flex;
  height: 8vh;
  justify-content: space-around;
  align-items: center;
  color: var(--font-color3);
}
.footer__mobile {
  display: none;
}
footer > a {
  font-size: 0.75rem;
  color: var(--font-color3);
}

@media (max-height: 518px) {
  .left-block__footer__btn {
    margin-bottom: 0rem;
  }
  .left-block__footer > h5 {
    margin-bottom: 0rem;
  }
  footer {
    height: 5vh;
  }
}
@media (max-height: 768px) {
  .left-block__wrapper {
    height: 97.9vh;
  }
  .right-block {
    height: 0vh;
  }
  .right-block__chat {
    box-shadow: 0 0.4375rem 0.625rem -0.5625rem rgba(221, 221, 221, 1);
  }
  footer {
    height: 0vh;
    margin-top: 1rem;
  }
}
@media (max-height: 895px) {
  .right-block__chat {
    height: 73vh;
  }
}
@media (max-width: 1024px) {
  .left-block__wrapper {
    flex: 10%;
    padding: 0;
  }
  .right-block {
    flex: 90%;
  }
  header {
    padding-bottom: 1.5rem;
  }
  .right-block__chat {
    width: 70vw;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1.8125rem 1rem 0 1rem;
  }
  .right-block__twit,
  .right-block__comment,
  .right-block__add-twit {
    margin: 0 0 1rem;
  }
  .right-block__add-twit {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 602px) {
  h1 {
    margin: 0;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  .left-block {
    background: url(/assets/img/bg_mobile.png) no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 160%;
    z-index: -1;
  }
  .left-block__wrapper {
    background: none;
    width: 97vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
  }
  .left-block__head {
    padding-top: 0.75rem;
  }
  .left-block__head__mobile {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }
  .left-block__filters,
  .left-block__footer,
  header {
    display: none;
  }
  .right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: 0vh;
  }
  .right-block-chat {
    height: 100vh;
  }
  .right-block__chat__filters {
    display: block;
  }
  .right-block__scroll-twit {
    height: 100vh;
  }
  .right-block__chat__filters {
    margin: 0 0 1rem 0;
    position: relative;
  }
  input[type="checkbox"] {
    width: 100%;
    height: 23px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }
  .right-block__chat__filters span {
    position: relative;
    height: 23px;
    line-height: 23px;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 0 10px;
    width: 100%;
    left: 50%;
  }
  .right-block__chat__filters span + span,
  .collapsible {
    display: none;
  }
  .right-block__chat__filters input[type="checkbox"]:checked ~ span {
    display: none;
  }
  .right-block__chat__filters input[type="checkbox"]:checked ~ span + span {
    display: inline-block;
  }
  .right-block__chat__filters input[type="checkbox"]:checked ~ .collapsible {
    display: table;
  }

  .footer__mobile {
    display: block;
  }
  footer > h5 {
    margin: 0 1rem;
  }
}
@media (max-width: 450px) {
  .right-block__add-twit-block {
    display: none;
  }
  .right-block__add-twit-none {
    display: block;
    margin: 0.5rem;
  }
}
