@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --bg-color: #726476;
  --btn-color: #d9ba5f;
  --btn-color-hover: #ffdf83;
  --font-color1: #ffffff;
  --font-color2: #000000;
  --font-color3: #989898;
}
body {
  height: 100%;
}
.wrapper {
  max-width: 94.5rem;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
}
main {
  display: flex;
  flex: 1 1 auto;
}
.left-block__wrapper {
  background-color: var(--bg-color);
  width: 16.375rem;
  height: 100vh;
  display: flex;
  flex: 40%;
  flex-direction: column;
  justify-content: space-between;
}
.left-block__head,
.left-block__footer {
  text-align: center;
}
.left-block__head {
  padding-top: 2.1875rem;
}
h1 {
  margin: 0.75rem 0 2.1875rem 0;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--font-color1);
}
.left-block__head__mobile {
  display: none;
}
.left-block__head__btn,
.right-block__head__btn {
  border: none;
  background: var(--btn-color);
  border-radius: 0.625rem;
  padding: 0.9375rem 4.4375rem;
}
.left-block__head__btn:hover,
.right-block__head__btn:hover {
  background: var(--btn-color-hover);
}
a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color2);
}
.left-block__footer__btn {
  border: none;
  background: var(--bg-color);
  border-radius: 0.625rem;
  padding: 0.9375rem 4.65rem;
  border: 0.0625rem solid #e9ecf2;
  box-sizing: border-box;
  border-radius: 0.625rem;
  margin-bottom: 3.25rem;
}
.left-block__footer__btn:hover {
  background: #9b909e;
}
.left-block__footer__btn > a {
  color: var(--font-color1);
}
.left-block__footer > h5 {
  font-size: 0.75rem;
  line-height: 1.3125rem;
  color: var(--font-color1);
  margin-bottom: 1rem;
}
.right-block {
  height: 100vh;
}
header {
  height: 10vh;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0 0.4375rem 0.625rem -0.5625rem rgba(221, 221, 221, 1);
}
.right-block__head__btn {
  display: none;
}
.right-block__chat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 70vw;
  height: 74vh;
  margin: 0 2rem;
  margin-top: 1.8125rem;
}
.right-block__twit,
.right-block__comment,
.right-block__add-comment {
  padding: 1rem 1.5625rem 1.375rem 1.5625rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 0.0625rem solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 0.625rem;
  margin-bottom: 1.8125rem;
}
.right-block__comment {
  align-self: flex-end;
}
.right-block__twit__title {
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.right-block__twit__title__edit,
.right-block__twit__title__comment {
  display: flex;
  justify-content: space-between;
}
.right-block__twit__title__comment {
  align-items: flex-end;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: var(--font-color2);
}
h4,
h6 {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: var(--font-color3);
  margin-bottom: 0.75rem;
}
p {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: var(--font-color2);
}
span {
  color: #1339ff;
  cursor: pointer;
}
.right-block__twit__title__comment {
  margin-right: 0.5rem;
}
.right-block__twit_edit,
.right-block__twit_delete {
  cursor: pointer;
  padding: 0.5rem;
}
.right-block__twit_delete {
  padding: 0.25rem;
}
.right-block__scroll-comment {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow-y: scroll;
  margin-left: 2rem;
}
.right-block__comment:last-child {
  margin-bottom: 0;
}
.right-block__comment {
  margin-bottom: 1.8125rem;
}
.right-block__comment__title {
  margin-left: 1.5rem;
}
.right-block__add-comment {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.8125rem;
  padding: 1rem 1rem 1.375rem 1rem;
  margin-left: 2rem;
}
.right-block__add-comment__block {
  margin: 0 1rem;
}
.right-block__add-comment__btn {
  border: none;
  cursor: pointer;
  background: url(/assets/img/send.svg) no-repeat center;
  width: 2rem;
  height: 2rem;
}
.right-block__add-comment__btn:hover,
.right-block__twit_edit:hover,
.right-block__twit_delete:hover {
  background-color: #9bc2b3;
  border-radius: 10%;
}
textarea {
  border: 0.0625rem solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 0.625rem;
  resize: none;
  padding: 0.75rem 0 0.75rem 1rem;
}
footer {
  box-shadow: 0 -0.4375rem 0.625rem -0.5625rem rgba(221, 221, 221, 1);
  height: 10vh;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--font-color3);
}
footer > a {
  font-size: 0.75rem;
  color: var(--font-color3);
}
.footer__mobile {
  display: none;
}

@media (max-height: 518px) {
  .left-block__footer__btn {
    margin-bottom: 0rem;
  }
  .left-block__footer > h5 {
    margin-bottom: 0rem;
  }
  footer {
    height: 5vh;
  }
}
@media (max-height: 768px) {
  .right-block {
    height: 0vh;
  }
  .right-block__chat {
    box-shadow: 0 0.4375rem 0.625rem -0.5625rem rgba(221, 221, 221, 1);
  }
  footer {
    height: 0vh;
    margin-top: 1rem;
  }
}
@media (max-width: 984px) {
  .left-block__wrapper {
    flex: 10%;
    padding: 0;
    height: 130vh;
  }
  .right-block {
    flex: 90%;
  }
  header {
    padding-bottom: 1.5rem;
  }
  .right-block__chat {
    width: 70vw;
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1.8125rem 1rem 0 1rem;
  }
  .right-block__twit,
  .right-block__comment {
    margin: 0 0 1rem;
  }
  .right-block__scroll-comment {
    height: 35vh;
  }
}
@media (max-width: 602px) {
  h1 {
    margin: 0;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  h2,
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
  .left-block {
    background: url(/assets/img/bg_mobile.png) no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 160%;
    z-index: -1;
  }
  .left-block__wrapper {
    background: none;
    width: 97vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
  }
  .left-block__head {
    padding-top: 0.75rem;
  }
  .left-block__head__mobile {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }
  .left-block__head__btn,
  .left-block__footer,
  .left-block__head__btn,
  header {
    display: none;
  }
  .right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0vh;
  }
  .right-block__head__btn {
    display: block;
  }
  .right-block-chat {
    height: 100vh;
  }
  .footer__mobile {
    display: block;
  }
  footer > h5 {
    margin: 0 1rem;
  }
}
@media (max-width: 450px) {
  .footer__mobile,
  footer > h5,
  footer > a {
    font-size: 0.5rem;
  }
}
