@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --bg-color: #726476;
  --btn-color: #d9ba5f;
  --btn-color-hover: #ffdf83;
  --font-color1: #ffffff;
  --font-color2: #000000;
  --font-color3: #989898;
}
main {
  max-width: 94.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.left-block__wrapper {
  background-color: var(--bg-color);
  width: 16.375rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-block__head,
.left-block__footer {
  text-align: center;
}
.left-block__head {
  padding-top: 2.1875rem;
}
h1 {
  margin: 0.75rem 0 2.1875rem 0;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--font-color1);
}
.left-block__head__btn {
  border: none;
  background: var(--btn-color);
  border-radius: 0.625rem;
  padding: 0.9375rem 4.4375rem;
}
.left-block__head__btn:hover {
  background: var(--btn-color-hover);
}
a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color2);
}
.left-block__footer__btn {
  border: none;
  background: var(--bg-color);
  border-radius: 0.625rem;
  padding: 0.9375rem 4.65rem;
  border: 0.0625rem solid #e9ecf2;
  box-sizing: border-box;
  border-radius: 0.625rem;
  margin-bottom: 3.25rem;
}
.left-block__footer__btn:hover {
  background: #9b909e;
}

.left-block__footer__btn > a {
  color: var(--font-color1);
}
.left-block__footer > h5 {
  font-size: 0.75rem;
  line-height: 1.3125rem;
  color: var(--font-color1);
  margin-bottom: 1rem;
}
header {
  height: 4.65rem;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0 0.4375rem 0.625rem -0.5625rem rgba(221, 221, 221, 1);
}
.right-block__chat {
  margin-top: 1.8125rem;
  padding-bottom: 1rem;
}
.right-block__twit,
.right-block__comment,
.right-block__add-comment {
  padding: 1rem 1.5625rem 1.375rem 1.5625rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 0.0625rem solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 0.625rem;
  margin: 0 11.875rem 1.8125rem 11.875rem;
}
.right-block__twit__title {
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: var(--font-color2);
}
h4,
h6 {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: var(--font-color3);
  margin-bottom: 0.75rem;
}
p {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: var(--font-color2);
}
span {
  color: #1339ff;
}
.right-block__twit__title__comment {
  margin-right: 0.5rem;
}
.right-block__twit_edit {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}
.right-block__comment,
.right-block__add-comment {
  margin: 0 11.875rem 0 16.4375rem;
}
.right-block__scroll-comment {
  height: 21.875rem; /* высота нашего блока */
  overflow-y: scroll; /* прокрутка по вертикали */
}
.right-block__comment:last-child {
  margin-bottom: 0;
}
.right-block__comment {
  margin-bottom: 1.8125rem;
}
.right-block__comment__title {
  margin-left: 1.5rem;
}
.right-block__add-comment {
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8125rem;
}
textarea {
  border: 0.0625rem solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 0.625rem;
  resize: none;
  padding: 0.75rem 0 0.75rem 1rem;
}
footer {
  box-shadow: 0 -0.4375rem 0.625rem -0.5625rem rgba(221, 221, 221, 1);
  height: 4rem;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: var(--font-color3);
}
footer > a {
  font-size: 0.75rem;
  color: var(--font-color3);
}
